@import url('https://fonts.cdnfonts.com/css/varino');

* {
  user-select: none;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.swiper-slide {
  user-select: none;
}

*:focus {
  outline: none;
  user-select: none;
}

:root {

  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* degrees */
  --degree:linear-gradient(45deg,  #1b9d63, #38a3ca, #580b74);

  /* --bg_light:  linear-gradient(19deg, #fbd4d2 0%, #c9baff 100%); */
  
  /* --bg_dark: rgb(32, 32, 32); */
  --bg_dark: #0E0E0E;



  --menuDark: #131313;

  --navDark:rgb(32, 32, 32); 

  --bg_light:rgb(245, 240, 249);
  

  /* --navLight:  linear-gradient(180deg, #fbd4d2 0%, #c9baff 100%); */

  --whiteColor: #e4e4e4;
  --blackColor: #1e1e1e;

  --btnLight: #4c4c4c;

  --Item: rgb(23, 23, 23);

  --white2: rgba(132, 132, 132, 0.138);


  --Neon1: #00d0f5;
  --Neon2:#bf00ff;
  --Neon3:#ff068f;

  --TextLight: #9c9c9c;

  --shadow: rgb(165, 165, 165);

  --boxShadow:rgb(13, 13, 13);

  --Border: #ffffff53;
  --BorderLight: rgba(0, 0, 0, 0.101);


  --Blue: #38a3ca;

  --cardsLight: rgba(220, 215, 231, 0.179);

  --fontDark: #f2f2f2;
  --fontLight: rgb(44, 44, 44);


  --borderDark: #dddddd4a;
  --borderDarkNasa: #dddddd29;
  --borderLight: #5959594a;

  --notificationDark: black;
  --notificationLight: rgb(212, 212, 212);
}

* {
  padding: 0;
  user-select: none;
  margin: 0;
  box-sizing: border-box;
}

.map-container {
  width: 100%;
  margin-top: 8.8rem;
  height: calc(100vh - 12rem);
}